[Unit]
Description=Start Backend
After=network.target

[Service]
Type=simple
User=builduser
WorkingDirectory=/var/www/My-Website/backend
ExecStart=/usr/bin/node server.js

[Install]
WantedBy=multi-user.target
