[Unit]
Description=Start Backend
After=network.target

[Service]
Type=oneshot
User=builduser
WorkingDirectory=/var/www/My-Website
ExecStart=/bin/bash -c 'cd /var/www/My-Website/backend && /usr/bin/node server.js'

[Install]
WantedBy=multi-user.target
