[Unit]
Description=Weekly update for My Website: Git, Build, MongoDB Import, and Restart Backend

[Service]
Type=oneshot
User=builduser
WorkingDirectory=/var/www/My-Website
ExecStart=/bin/bash -c ' \
  cd /var/www/My-Website && \
  git pull && \
  cd frontend && \
  npm install && \
  npm run build && \
  cd /var/www/My-Website && \
  cd backend && \
  npm install && \
  sudo systemctl restart my-website-backend.service && \
  cd /var/www/My-Website && \
  mongosh --eval "db.blogs.drop()" --db test && \
  mongoimport --db test --collection blogs --file ./dump/test/blogs.json'
